#map {
	min-height: 400px;
	min-width: 400px;
}

.fullMap {
    z-index: 0;
    position: relative;
}

.position {
    z-index: 1;
    position: absolute;
}

.fullMapContainer {
    width: 100%;
    height: 100%;
}
